{% extends 'layout/default.html.twig' %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-lg-4">
    <table class="table">
      <tbody>
        <tr>
          <th>{{ 'profile.id'|trans }}</th>
          <td>{{ user.id }}</td>
        </tr>
        <tr>
          <th>{{ 'profile.email'|trans }}</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th>{{ 'profile.firstname'|trans }}</th>
          <td>{{ user.firstname }}</td>
        </tr>
        <tr>
          <th>{{ 'profile.lastname'|trans }}</th>
          <td>{{ user.lastname }}</td>
        </tr>
        <tr>
          <th>{{ 'profile.delegation'|trans }}</th>
          <td>{{ user.delegation }}</td>
        </tr>
        <tr>
          <th>{{ 'profile.athlete'|trans }}</th>
          <td>{% if user.athlete %}{{ 'general.yes'|trans }}{% else %}{{ 'general.no'|trans }}{% endif %}</td>
        </tr>
        <tr>
          <th>{{ 'profile.sports'|trans }}</th>
          <td>{% for sport in user.sports %}
            {{ sport.name }}{% if not loop.last %}, {% endif %}
          {% else %}
            {{ 'general.none'|trans }}
          {% endfor %}
          </td>
        </tr>
        {% if user.delegation.name matches '/douai/i' %}{# @TODO hardcoded ! #}
          <tr>
            <th>{{ 'profile.co-chamber'|trans }}</th>
            <td>
              {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
              {% if user.coChamber %}
                {{ user.coChamber.firstname }} {{ user.coChamber.lastName }} (#{{ user.coChamber.id }})
              {% endif %}
              {{ form(form) }}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    <div class="text-center">
        <a href="{{ path('profile_edit') }}"><button type="button" class="btn btn-primary">{{ 'profile.edit'|trans }}</button></a>
        <a href="{{ path('change_password') }}"><button type="button" class="btn btn-primary">{{ 'profile.change-pass'|trans }}</button></a>
    </div>
  </div>
</div>
{% endblock %}
