{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.contact'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{ 'title.contact'|trans }}</h1>
<div class="well">
  {{ form(form) }}
</div>
{% endblock %}
