<ol style="list-style-type: none;">
{% for rule in rules %}
    {% if rule.render == 'rules/component/title.html.twig' %}
        <li><a href="#{{ rule.value.id }}">{{ rule.value.string }}</a></li>
    {% elseif rule.render == 'rules/component/section.html.twig' %}
        <li>{% include 'rules/component/toc.html.twig' with {'rules': rule.value} %}</li>
    {% endif %}
{% endfor %}
</ol>
