{% extends 'layout/default.html.twig' %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-lg-4 text-center">
        {{ form(form) }}
    </div>
</div>
<div class="text-center">
    <p><a href="{{ path('reset_password') }}">{{ 'form.profile.password-request'|trans }}</a></p>
    <a href="{{ path('register') }}"><button class="btn btn-primary py-1">{{ 'profile.create'|trans }}</button></a>
</div>
{% endblock %}
