<div class="row justify-content-center">
    <div class="col-lg-10 table-responsive">
        <table class="table border">
        <thead class="text-center">
            <tr>
            <th>Groupe A</th>
            <th>Groupe B</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Basket-ball</td>
                <td>Relais athlétisme (10*100m)</td>
            </tr>
            <tr>
                <td>Football</td>
                <td>Relais natation (10*50m)</td>
            </tr>
            <tr>
                <td>Handball</td>
                <td>Cross</td>
            </tr>
            <tr>
                <td>Rugby</td>
                <td>Tennis</td>
            </tr>
            <tr>
                <td>Volley-ball</td>
                <td>Tennis de table</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
