<div class="table-responsive">
<table class="table border">
<thead class="text-center">
    <tr>
        <th colspan="11">Attribution des points par sport en fonction du classement des délégations</th>
    </tr>
    <tr>
        <th></th>
        <th>1<sup>er</sup></th>
        <th>2<sup>ème</sup></th>
        <th>3<sup>ème</sup></th>
        <th>4<sup>ème</sup></th>
        <th>5<sup>ème</sup></th>
        <th>6<sup>ème</sup></th>
        <th>7<sup>ème</sup></th>
        <th>8<sup>ème</sup></th>
        <th>9<sup>ème</sup></th>
        <th>10<sup>ème</sup>+</th>
    </tr>
</thead>
<tbody>
    <tr>
        <th>Groupe A</th>
        <td>24</td>
        <td>18</td>
        <td>14</td>
        <td>12</td>
        <td>10</td>
        <td>8</td>
        <td>6</td>
        <td>4</td>
        <td>2</td>
        <td>1</td>
    </tr>
    <tr>
        <th>Groupe B</th>
        <td>18</td>
        <td>13</td>
        <td>10</td>
        <td>9</td>
        <td>7</td>
        <td>6</td>
        <td>4</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <th>Optionnels</th>
        <td><sup>24</sup>&frasl;<sub>n</sub</td>
        <td><sup>18</sup>&frasl;<sub>n</sub</td>
        <td><sup>14</sup>&frasl;<sub>n</sub</td>
        <td><sup>12</sup>&frasl;<sub>n</sub</td>
        <td><sup>10</sup>&frasl;<sub>n</sub</td>
        <td><sup>8</sup>&frasl;<sub>n</sub</td>
        <td><sup>6</sup>&frasl;<sub>n</sub</td>
        <td><sup>4</sup>&frasl;<sub>n</sub</td>
        <td><sup>2</sup>&frasl;<sub>n</sub</td>
        <td><sup>1</sup>&frasl;<sub>n</sub</td>
    </tr>
</tbody>
</table>
</div>
