{% extends "layout/default.html.twig" %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-lg-4">
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form(form) }}
  </div>
</div>
<div>
  {% if shuttles %}
    {% if shuttles is not empty %}
      {% include 'component/date.js.twig' %}
      {% include 'shuttles/shuttleArray.html.twig' %}
      {% include 'component/pagination.html.twig' %}
    {% else %}
      <h3 class="text-center">{{ 'shuttle.search.no'|trans }}</h3>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
