<p class="text-center"onclick="updateDate(this)"><button class="btn btn-small">{{ 'display-current-time'|trans }}</button></p>
<div class="table-responsive">
  <table class="table">
    <thead><tr>
	  <th>{{ 'shuttle.departure'|trans }}</th>
	  <th>{{ 'shuttle.departureTime'|trans }}</th>
	  <th>{{ 'shuttle.arrival'|trans }}</th>
	  <th>{{ 'shuttle.arrivalTime'|trans }}</th>
    </tr></thead>
	<tbody>
	{% for shuttle in shuttles %}
	<tr>
	  <td>{{ shuttle.departurePlace.name }}</td>
	  <td>{{ shuttle.departureTime|date('d-m H:i:s') }}</td>
	  <td>{{ shuttle.arrivalPlace.name }}</td>
	  <td>{{ shuttle.arrivalTime|date('d-m H:i:s') }}</td>	  
	</tr>
	{% else %}
	<tr><td colspan="4" class="text-center">{{ 'shuttle.no-shuttle'|trans }}</td></tr>
	{% endfor %}
  </table>
</div>
