.flexbin {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: - 5px
}

.flexbin > * {
    position: relative;
    display: block;
    height: 200px;
    margin: 5px;
    flex-grow: 1
}

.flexbin > * > img {
    height: 200px;
    object-fit: contain;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom
}

.flexbin.flexbin-margin {
    margin: 5px
}

@media (max-width: 980px) {
    .flexbin {
        display:flex;
        overflow: hidden;
        flex-wrap: wrap;
        margin: - 5px
    }

    .flexbin > * {
        position: relative;
        display: block;
        height: 250px;
        margin: 5px;
        flex-grow: 1
    }

    .flexbin > * > img {
        height: 250px;
        object-fit: contain;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom
    }

    .flexbin.flexbin-margin {
        margin: 5px
    }
}

@media (max-width: 400px) {
    .flexbin {
        display:flex;
        overflow: hidden;
        flex-wrap: wrap;
        margin: - 5px
    }

    .flexbin > * {
        position: relative;
        display: block;
        height: 200px;
        margin: 5px;
        flex-grow: 1
    }

    .flexbin > * > img {
        height: 200px;
        object-fit: contain;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom
    }

    .flexbin.flexbin-margin {
        margin: 5px
    }
}
