@font-face {
  font-family: 'BlowBrush';
  src: url('/font/blowbrush.otf') format('truetype'),
       url('/font/blowbrush.ttf') format('truetype');
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

hr {
  width: 90%;
}

.container {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'BlowBrush',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

figure.image {
  text-align: center;
}

figure.image.image-style-side {
  float: right;
}
