{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.goals'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{'title.goals'|trans}}</h1>
<div class="row justify-content-center">
  <div class="col-lg-8 text-justify m-3">
    {% for i in 1..6 %}
      <p>{{ ('presentation.goals.' ~ i )|trans }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
