{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.history'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{'title.history'|trans}}</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-justify m-3">
      <p class="text-center"><img src="{{ asset('img/logo.svg') }}" class="img-fluid"></p>
      <h3 class="text-center">1962</h3>
      <p>{{ 'presentation.history.1962'|trans }}</p>
      <h3 class="text-center">1984</h3>
      <p>{{ 'presentation.history.1984'|trans }}</p>
      <h3 class="text-center">1985</h3>
      <p>{{ 'presentation.history.1985'|trans }}</p>
      <h3 class="text-center">1991</h3>
      <p>{{ 'presentation.history.1991.1'|trans }}<br />{{ 'presentation.history.1991.2'|trans }}</p>
      <p>{{ 'presentation.history.1991.3'|trans }}</p>
      <h3 class="text-center">2000</h3>
      <p>{{ 'presentation.history.2000'|trans }}</p>
      <h3 class="text-center">2009</h3>
      <p>{{ 'presentation.history.2009.1'|trans }}<br />{{ 'presentation.history.2009.2'|trans }}</p>
      <h3 class="text-center">2013</h3>
      <p>{{ 'presentation.history.2013.1'|trans }}<br />{{ 'presentation.history.2013.2'|trans }}</p>
      <h3 class="text-center">2018</h3>
      <h5>{{ 'presentation.history.2018.1'|trans }}</h5>
      <p>{{ 'presentation.history.2018.2'|trans }}</p>
    </div>
  </div>
</div>
{% endblock %}
