{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.presentation'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{'title.presentation'|trans}}</h1>
<div class="row justify-content-center">
  <div class="col-lg-8 text-justify m-3">
    <h3 class="text-center">{{ 'presentation.index.title'|trans }}</h3>
    <p>{{ 'presentation.index.1'|trans }}</p>
    <p>{{ 'presentation.index.2'|trans }}</p>
    <p>{{ 'presentation.index.program'|trans }}
      <ol>
        <li>{{ 'presentation.index.program.1'|trans }}</li>
        <li>{{ 'presentation.index.program.2'|trans }}</li>
        <li>{{ 'presentation.index.program.3'|trans }}</li>
        <li>{{ 'presentation.index.program.4'|trans }}</li>
      </ol>
    </p>
    <p>{{ 'presentation.index.values'|trans }}
      <ul>
        <li>{{ 'presentation.index.values.1'|trans }}</li>
        <li>{{ 'presentation.index.values.2'|trans }}</li>
        <li>{{ 'presentation.index.values.3'|trans }}</li>
        <li>{{ 'presentation.index.values.4'|trans }}</li>
      </ul>
    </p>
    <p class="text-center"><img src="{{ asset('img/presentation.jpg') }}" class="img-fluid"></p>
  </div>
</div>
{% endblock %}
