{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.schools'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{'title.schools'|trans}}</h1>
<div class="row justify-content-center">
  <div class="col-lg-8 text-justify m-3">
    <p>{{ 'presentation.schools.1'|trans({ '%nbSchools%' : schools|length }) }}<br />{{ 'presentation.schools.2'|trans }}</p>
  </div>
</div>
<div class="row justify-content-center text-center align-items-center">
  {% for school in schools %}
    <div class="col-lg-3 m-3">
      <img src="{{ asset(school.file.thumbUri) }}" class="img-fluid mb-3">
      <h5>{{ school.name }}</h5>
    </div>
  {% endfor %}
</div>
{% endblock %}
