{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.sports'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.table td, .table th {
			vertical-align: middle;
			padding: .3rem;
		}
	</style>
{% endblock %}

{% block body %}
<h1 class="text-center">{{ 'title.sports'|trans }}</h1>
<div class="row justify-content-center">
  <div class="col-lg-8 text-justify m-3">
		<p>{{ 'presentation.sports.1'|trans({ '%nbSports%' : sports|length }) }}<br />{{ 'presentation.sports.2'|trans }}</p>
		<dl class="dl-row">
		{% for sport in sports %}
			<div class="media mb-4 flex-column flex-sm-row{{ loop.index % 2 == 0 ? '-reverse' }}">
				<img class="align-self-center m-3 img-fluid" src="{{ asset(sport.file.thumbUri) }}" alt="{{ sport.name }}" style="max-height:64px;">
				<div class="media-body">
					<h5 class="mt-0 mb-1"><a href="{{ path('sport', { 'id': sport.id }) }}">{{ sport.name }}</a></h5>
					{{ sport.description|striptags|truncate(255)|raw }}
				</div>
			</div>
		{% endfor %}
		</dl>
		<h3 class="text-center"><strong>{{ 'presentation.sports.3'|trans }}</strong></h3>
	</div>
</div>
<h1 class="text-center">{{ 'presentation.sports.4'|trans }}</h1>
<p class="text-center"><small>{{ 'presentation.sports.5'|trans }}</small></p>
<div class="table-responsive">
	<table class="table table-bordered table-striped text-center" style="white-space: nowrap; font-size: 0.95rem;">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">03/05 PM</th>
				<th scope="col">04/05 AM</th>
				<th scope="col">04/05 PM</th>
				<th scope="col">04/05 Soir</th>
				<th scope="col">05/05 AM</th>
				<th scope="col">05/05 PM</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row" class="text-left">Relais athlétisme</th>
				<td>Stade Demeny</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Relais natation</th>
				<td>Piscine des Glacis</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Cross</th>
				<td></td>
				<td>Parc Fenain</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">PomPom</th>
				<td></td>
				<td></td>
				<td></td>
				<td>Gayant Expo</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Rugby F</th>
				<td></td>
				<td></td>
				<td>Stade Demeny</td>
				<td></td>
				<td>Stade Demeny</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Rugby M</th>
				<td></td>
				<td>Stade Demeny</td>
				<td>Stade Demeny</td>
				<td></td>
				<td>Stade Demeny</td>
				<td>Stade Demeny</td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Foot F</th>
				<td></td>
				<td>Stade Demeny</td>
				<td>Stade Demeny</td>
				<td></td>
				<td>Stade Demeny</td>
				<td>Stade Demeny</td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Foot M</th>
				<td></td>
				<td>Stade Demeny</td>
				<td>Stade Demeny</td>
				<td></td>
				<td>Stade Demeny</td>
				<td>Stade Demeny</td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Volley F</th>
				<td></td>
				<td>Salle Soulary</td>
				<td>Salle Soulary</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Volley M</th>
				<td></td>
				<td>Complexe Gayant</td>
				<td>Complexe Gayant</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Volley Classement <abbr title="Équipes éliminées en poules ou en quarts">*</abbr></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Complexe Gayant</td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Volley Finales <abbr title="Demi-finales, finales et petites finales">*</abbr></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Complexe Gayant</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Basket F</th>
				<td></td>
				<td>Salle Etienne Maillard</td>
				<td>Salle Etienne Maillard</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Basket M</th>
				<td></td>
				<td>Salle Corot</td>
				<td>Salle Corot</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Basket Classement <abbr title="Équipes éliminées en poules ou en quarts">*</abbr></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Salle Streinger</td>
				<td>Salle Streinger</td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Basket Finales <abbr title="Demi-finales, finales et petites finales">*</abbr></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Salle Corot</td>
				<td>Salle Corot</td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Hand F</th>
				<td></td>
				<td>Porte d'Arras</td>
				<td>Porte d'Arras</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Hand M</th>
				<td></td>
				<td>Salle Theuriet</td>
				<td>Salle Theuriet</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Hand Classement <abbr title="Équipes éliminées en poules ou en quarts">*</abbr></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Tour des Dames</td>
				<td>Tour des Dames</td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Hand Finales <abbr title="Demi-finales, finales et petites finales">*</abbr></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Salle Theuriet</td>
				<td>Salle Theuriet</td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Ergomètre</th>
				<td></td>
				<td></td>
				<td></td>
				<td>Gayant Expo</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Tennis</th>
				<td></td>
				<td>
					Open Tennis Demeny<br />
					<strong>Simple Homme</strong>
				</td>
				<td>
					Open Tennis Demeny<br />
					<strong>Simple Femme</strong>
				</td>
				<td></td>
				<td>
					Open Tennis Demeny<br />
					<strong>Double Mixte</strong>
				</td>
				<td>
					Open Tennis Demeny<br />
					<strong>Double Mixte</strong>
				</td>
			</tr>
				<th scope="row" class="text-left">Tennis de table</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					Porte d'Arras<br />
					<strong>Simples</strong>
				</td>
				<td>
					Porte d'Arras<br />
					<strong>Double Mixte</strong>
				</td>
			</tr>
				<th scope="row" class="text-left">Badminton</th>
				<td></td>
				<td>
					Tour des Dames<br />
					<strong>Simple Homme</strong>
				</td>
				<td>
					Tour des Dames<br />
					<strong>Simple Femme</strong>
				</td>
				<td></td>
				<td>
					Salle Etienne Maillard<br />
					<strong>Double Mixte</strong>
				</td>
				<td>
					Salle Etienne Maillard<br />
					<strong>Double Mixte</strong>
				</td>
			</tr>
			<tr>
				<th scope="row" class="text-left">Escalade</th>
				<td></td>
				<td>Complexe Jean Mercier</td>
				<td>Complexe Jean Mercier</td>
				<td></td>
				<td>Complexe Jean Mercier</td>
				<td>Complexe Jean Mercier</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
