{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.values'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{'title.values'|trans}}</h1>
<div class="row justify-content-center">
  <div class="col-lg-8 text-justify m-3">
    <p>{{ 'presentation.values.1'|trans }}</p>
    <p>{{ 'presentation.values.2'|trans }}</p>
  </div>
</div>
{% endblock %}
