{% extends "layout/default.html.twig" %}

{% block title %}
    {{ 'title.note.director'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{'title.note.director'|trans}}</h1>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <blockquote class="text-justify m-3 d-flex d-sm-block flex-column">
            <p class="text-center float-left m-3"><img class="rounded img-fluid" src="{{ asset('img/ASchmitt.jpg') }}" style="max-height:200px;"></p>
            {% for i in 1..4 %}
              <p>{{ ('presentation.note.director.' ~ i )|trans }}</p>
            {% endfor %}
            <footer class="blockquote-footer">Alain SCHMITT &mdash; Directeur IMT Lille-Douai</footer>
        </blockquote>
    </div>
</div>
{% endblock %}
