{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.note.mayor'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{'title.note.mayor'|trans}}</h1>
{% endblock %}
