{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.note.presidency'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{'title.note.presidency'|trans}}</h1>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <blockquote class="text-justify m-3 d-flex d-sm-block flex-column">
            <h3 class="text-center">{{ 'presentation.note.presidency.title'|trans }}</h3>
            <p class="text-center float-left m-3"><img class="rounded img-fluid" src="{{ asset('img/Faustine.jpg') }}" style="max-height:200px;"></p>
            <p>{{ 'presentation.note.presidency.1'|trans }}</p>
            <p>{{ 'presentation.note.presidency.2'|trans }}</p>
            <p>{{ 'presentation.note.presidency.3'|trans }}</p>
            <p>{{ 'presentation.note.presidency.4'|trans }}</p>
            <ul>
                <li>{{ 'presentation.note.presidency.values.1'|trans }}</li>
                <li>{{ 'presentation.note.presidency.values.2'|trans }}</li>
                <li>{{ 'presentation.note.presidency.values.3'|trans }}</li>
            </ul>
            <p>{{ 'presentation.note.presidency.5'|trans }}</p>
            <footer class="blockquote-footer">Faustine</footer>
        </blockquote>
    </div>
</div>
{% endblock %}
