{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sonatatranslation/css/sonata-translation.css') }}" />
    <style>
        .text-white { color: white; }
        .bg-primary {
            background-color: #007bff !important;
        }

        a.bg-primary:hover, a.bg-primary:focus,
        button.bg-primary:hover,
        button.bg-primary:focus {
            background-color: #0062cc !important;
        }

        .bg-secondary {
            background-color: #6c757d !important;
        }

        a.bg-secondary:hover, a.bg-secondary:focus,
        button.bg-secondary:hover,
        button.bg-secondary:focus {
            background-color: #545b62 !important;
        }

        .bg-success {
            background-color: #28a745 !important;
        }

        a.bg-success:hover, a.bg-success:focus,
        button.bg-success:hover,
        button.bg-success:focus {
            background-color: #1e7e34 !important;
        }

        .bg-info {
            background-color: #17a2b8 !important;
        }

        a.bg-info:hover, a.bg-info:focus,
        button.bg-info:hover,
        button.bg-info:focus {
            background-color: #117a8b !important;
        }

        .bg-warning {
            background-color: #ffc107 !important;
        }

        a.bg-warning:hover, a.bg-warning:focus,
        button.bg-warning:hover,
        button.bg-warning:focus {
            background-color: #d39e00 !important;
        }

        .bg-danger {
            background-color: #dc3545 !important;
        }

        a.bg-danger:hover, a.bg-danger:focus,
        button.bg-danger:hover,
        button.bg-danger:focus {
            background-color: #bd2130 !important;
        }

        .bg-light {
            background-color: #f8f9fa !important;
        }

        a.bg-light:hover, a.bg-light:focus,
        button.bg-light:hover,
        button.bg-light:focus {
            background-color: #dae0e5 !important;
        }

        .bg-dark {
            background-color: #343a40 !important;
        }

        a.bg-dark:hover, a.bg-dark:focus,
        button.bg-dark:hover,
        button.bg-dark:focus {
            background-color: #1d2124 !important;
        }
    </style>
{% endblock %}

{% block sonata_wrapper %}
    {{ parent() }}
    <script src="{{ asset('build/js/ckeditor.js') }}"></script>
{% endblock %}
