{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% set file = object.file|default(object) %}

{% block field %}
    <div>
        <img src="{{ asset(file.thumbUri) }}" style="max-height:100px;" />
    </div>
{% endblock %}
