{% extends "layout/default.html.twig" %}

{% block title %}
  {{ sport.name }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{ sport.name }}</h1>
<p class="text-center"><img src="{{ asset(sport.file.thumbUri) }}" class="img-fluid" style="max-height:200px;"></p>

<h3 class="text-center mt-5">{{ 'sport.description'|trans }}</h3>
<div>{{ sport.description|raw }}</div>

<h3 class="text-center mt-5">{{ 'sport.infos'|trans }}</h3>
<div>{{ sport.infos|raw }}</div>

<h3 class="text-center mt-5">{{ 'sport.rules'|trans }}</h3>
<div>{{ sport.rules|raw }}</div>

<h3 class="text-center mt-5">{{ 'sport.progress'|trans }}</h3>
<div>{{ sport.progress|raw }}</div>

{% endblock %}
