{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.gallery'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}

{% block body %}
<div class="container">
 	{% if pictures is not empty %}
		<div class="flexbin flexbin-margin">
		{% for picture in pictures %}
			<a href="{{ path('picture', {'id': picture.id}) }}">
				<img src="{{ asset(picture.file.thumbUri) }}" alt="{{ picture.title }}">
			</a>
		{% endfor %}
		</div>
		<div class="container">
			{% include('component/pagination.html.twig') %}
		</div>
	{% else %}
		<h3 class="text-center">{{ 'gallery.no-image'|trans }}</h3>
	{% endif %}
</div>
<h4 class="text-center">
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		{% if app.user.allowPicture %}
			{{ 'gallery.hint.allowed'|trans }}
		{% else %}
			{{ 'gallery.hint.disallowed'|trans }}
		{% endif %}
	{% else %}
			<a href="{{ path('security_login') }}">{{ 'gallery.hint.connect'|trans }}</a>
	{% endif %}
</h4>
{% if form is defined %}
	<div class="row justify-content-center">
		<div class="col-lg-8">
		{% include 'form/basic.html.twig' %}
		</div>
	</div>
{% endif %}
{% endblock %}
