{% extends "layout/default.html.twig" %}

{% block title %}
  {{ picture.title }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="text-center">
	<h3>{{ picture.title }}</h3>
	<p>{{ 'picture.posted-on'|trans }} {{ picture.file.date|date('d/m/Y H:i:s') }}</p>
	<img alt="{{ picture.title }}" src="{{ asset(picture.file.fileUri) }}" class="img-fluid center-block" style="max-height: 70vh;"/>
	<p>{{ picture.description }}</p>
</div>
{% endblock %}
