{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.news'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center"> {{'title.news'|trans}} </h1>
{% if news is not empty %}
  {% for new in news %}
    <div>
      <a href="{{ path('event', { 'id': new.event.id }) }}">
        <div class="card text-white bg-{{ new.event.eventType.render }} mb-3">
          <div class="card-header">
            {{ new.time|date("d/m H:i") }} - {{ new.title }}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    <div class="container">
      {% include('component/pagination.html.twig') %}
    </div>
  {% else %}
    <h3 class="text-center">{{ 'news.no-news'|trans }}</h3>
{% endif %}
{% endblock %}
