{% extends "layout/default.html.twig" %}

{% block title %}
    {{ 'title.rules'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row justify-content-center text-justify">
    <div class="col-lg-8">
        <p class="text-center"><img src="{{ asset('img/logo.svg') }}" class="img-fluid" style="max-height:50vh;"></p>
        <h1 class="text-center my-5">{{ 'rules.head'|trans }}</h1>
        <h3 class="text-center mt-5">{{ 'rules.preamble.title'|trans }}</h3>
        <h3 class="text-center mb-3"><small>{{ 'rules.preamble.subtitle'|trans }}</small></h3>
        {% for i in 1..3 %}
            <p>{{ ('rules.preamble.'~i)|trans }}</p>
        {% endfor %}
        <h3 class="text-center">{{ 'rules.toc'|trans }}</h3>
        {% include 'rules/component/toc.html.twig' %}
        {% include 'rules/component/section.html.twig' with {'value': rules} %}
    </div>
</div>
{% endblock %}
