<script type="text/javascript">
function updateDate(e) {
	const date = new Date(srvTime());
	e.innerHTML = date.toLocaleTimeString()+" <button class=\"btn btn-small\">&#x21bb;</button>";
}
function srvTime(){
	var xmlHttp;
	try {
		xmlHttp = new XMLHttpRequest();
	}
	catch (e) {
		try {
			xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
		}
		catch (e) {
			try {
				xmlHttp = new ActiveXObject('Microsoft.XMLHTTP');
			}
			catch (e) {
				alert("AJAX not supported");
			}
		}
	}
	xmlHttp.open('HEAD','{{ path('date') }}',false);
	xmlHttp.setRequestHeader("Content-Type", "text/html");
	xmlHttp.send('');
	return xmlHttp.getResponseHeader("Date");
}
</script>
