<div class="row">
  <div class="col-lg-2">
    <p class="text-center">
      <a href="https://www.facebook.com/Cartel2018/" target="_blank" class="px-1"><img src="{{ asset('img/FB.svg') }}" alt="{{ 'footer.facebook'|trans }}" style="height:50px;"></a>
      <a href="https://fr.linkedin.com/company/cartel2018" target="_blank" class="px-1"><img src="{{ asset('img/linkedin.svg') }}" alt="{{ 'footer.facebook'|trans }}" style="height:50px;"></a>
    </p>
  </div>
  <div class="col-lg-8">
    <div class="jumbotron p-4">
      <div>
        <p class="text-center">
        {% for locale in locales %}
          <a class="px-5" href="{{ path(
            app.request.get('_route')|default('homepage'),
            app.request.get('_route_params')|default([])|merge({'_locale': locale})
          ) }}">
            <img alt="{{ ('locale.'~locale)|trans }}" height="20" src="{{ asset('img/locales/'~locale~'.svg') }}">
          </a>
        {% endfor %}
        </p>
      </div>
      <div>
        <p class="text-center m-0" rel="noopener">{{ 'footer.copyright'|trans }} | <a href="{{ path('sitemap') }}">{{ 'footer.sitemap'|trans }}</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
