<div class="embed-responsive embed-responsive-4by3">
	<div id="map" class="embed-responsive-item"></div>
</div>
<script>
	function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: {{ map.zoom }},
			center: { lat: {{ map.center.lat }}, lng: {{ map.center.lon }} },
		});
		var infoWindow = new google.maps.InfoWindow;
		[
			{% for marker in map.markers %}
			{
				position: new google.maps.LatLng({{ marker.lat }}, {{ marker.lon }}),
				content: "<div><strong>{{ marker.title }}</strong><br /><text>{{ marker.address }}</text><br /><a href=\"{{ marker.url }}\">{{ 'general.goto.page'|trans }}</a></div>",
			},
			{% endfor %}
		].forEach(function(marker) {
			new google.maps.Marker({
                map: map,
                position: marker.position,
			}).addListener('click', function() {
				infoWindow.setContent(marker.content);
				infoWindow.open(map, this);
			});
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map.apikey }}&amp;callback=initMap"></script>
