{% set url = app.request.attributes.get('_route') %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('homepage') }}">
    <img src="{{ asset('img/logo.svg') }}" height="30" alt="Logo du Cartel">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 nav-fill">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ 'title.presentation'|trans }}</a>
				<ul class="dropdown-menu">
					<a class="dropdown-item{% if url == "presentation" %} active{% endif %}" href="{{ path('presentation') }}">{{ 'title.intro'|trans }}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item{% if url == "history" %} active{% endif %}" href="{{ path('history') }}">{{ 'title.history'|trans }}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item{% if url == "values" %} active{% endif %}" href="{{ path('values') }}">{{ 'title.values'|trans }}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item{% if url == "goals" %} active{% endif %}" href="{{ path('goals') }}">{{ 'title.goals'|trans }}</a>
					<div class="dropdown-divider"></div>
					{# <a class="dropdown-item" href="{{ path('note', {'who': 'mayor'}) }}">{{ 'title.note.mayor'|trans }}</a> #}
					<a class="dropdown-item" href="{{ path('note', {'who': 'director'}) }}">{{ 'title.note.director'|trans }}</a>
					<a class="dropdown-item" href="{{ path('note', {'who': 'presidency'}) }}">{{ 'title.note.presidency'|trans }}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item{% if url == "schools" %} active{% endif %}" href="{{ path('schools') }}">{{ 'title.schools'|trans }}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item{% if url == "sports" %} active{% endif %}" href="{{ path('sports') }}">{{ 'title.sports'|trans }}</a>
				</ul>
			</li>
			<li class="nav-item"><a class="nav-link{% if url == "news" %} active{% endif %}" href="{{ path('news') }}">{{ 'title.news'|trans }}</a></li>
			<li class="nav-item"><a class="nav-link" href="https://event.pumpkin-app.com/pay/cartel2018" target="_blank">{{ 'title.ticketing'|trans }}</a></li>
			<li class="nav-item"><a class="nav-link{% if url == "gallery" %} active{% endif %}" href="{{ path('gallery') }}">{{ 'title.gallery'|trans }}</a></li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ 'title.infos'|trans }}</a>
				<ul class="dropdown-menu">
					<a class="dropdown-item{% if url == "events" %} active{% endif %}" href="{{ path('events') }}">{{ 'title.program'|trans }}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item{% if url == "places" %} active{% endif %}" href="{{ path('places') }}">{{ 'title.places'|trans }}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item{% if url == "shuttles_search" %} active{% endif %}" href="{{ path('shuttles_search') }}">{{ 'title.shuttles-search'|trans }}</a>
				</ul>
			</li>
			<li class="nav-item"><a class="nav-link{% if url == "rules" %} active{% endif %}" href="{{ path('rules') }}">{{ 'title.rules'|trans }}</a></li>
			<li class="nav-item"><a class="nav-link{% if url == "contact" %} active{% endif %}" href="{{ path('contact') }}">{{ 'title.contact'|trans }}</a></li>
			<li class="nav-item"><a class="nav-link{% if url == "partners" %} active{% endif %}" href="{{ path('partners') }}">{{ 'title.partners'|trans }}</a></li>
	
		
    		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.firstName }} {{ app.user.lastName }}</a>
					<ul class="dropdown-menu">
						<a class="dropdown-item{% if url == "profile_show" %} active{% endif %}" href="{{ path('profile_show') }}">{{ 'title.profile'|trans }}</a>
						<div class="dropdown-divider"></div>
						{% if is_granted("ROLE_STAFF") %}
							<a class="dropdown-item" href="{{ path('cartel_admin') }}">{{ 'title.admin'|trans }}</a>
							<div class="dropdown-divider"></div>
						{% endif %}
						{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
							<a class="dropdown-item" href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
							<div class="dropdown-divider"></div>
						{% endif %}
						<a class="dropdown-item" href="{{ path('security_logout') }}">{{ 'title.logout'|trans }}</a>
					</ul>
				</li>
      		{% else %}
				<li class="nav-item"><a class="nav-link{% if url == "security_login" %} active{% endif %}" href="{{ path('security_login') }}">{{ 'title.login'|trans }}</a></li>
      		{% endif %}

		</ul>
  </div>
</nav>
