{% if pagination.nbPages > 0 %}
    <ul class="pagination justify-content-center">
        {% if pagination.page > 1 %}
            <li class="page-item">
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': 1})) }}" class="page-link">
                    &lt;&lt;
                </a>
            </li>
            <li class="page-item">
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': pagination.page-1})) }}" class="page-link">
                    &lt;
                </a>
            </li>
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
            <li class="page-item" {% if p == pagination.page %}class="active"{% endif %}>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p})) }}" class="page-link">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        {% if pagination.page < pagination.nbPages %}
            <li class="page-item">
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': pagination.page+1})) }}" class="page-link">
                    &gt;
                </a>
            </li>
            <li class="page-item">
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': pagination.nbPages})) }}" class="page-link">
                    &gt;&gt;
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
