<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="auto">
<head>
  {# Compatibility #}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
  {# Global site tag (gtag.js) - Google Analytics #}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114292948-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-114292948-1');
  </script>

  {# SEO #}
  <meta name="description" content="{{ 'meta.description'|trans }}">
  <meta name="keywords" content="{{ 'meta.keywords'|trans }}">
  {# Sharing #}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Cartel 2018" />
  <meta property="og:url" content="{{ url('homepage', {'_locale': 'fr'}) }}" />
  <meta property="og:image" content="{{ absolute_url(asset('img/logo.png')) }}" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="Logo du Cartel 2018" />
  <meta property="og:description" content="{{ 'meta.og-description'|trans }}" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
  <meta property="og:site_name" content="Cartel Douai 2018" />
  <meta name="twitter:card" content="summary" />
  {# Appearance #}
  <title>{% block title %}Cartel 2018{% endblock %}</title>
  {# <meta name="theme-color" content="#132030" /> #}
  <!--[if lte IE 8]>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
  <![endif]-->

  {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  {% for locale in locales %}
    <link rel="alternate" hreflang="{{ locale }}" href="{{ url(
      app.request.get('_route')|default('homepage'),
      app.request.get('_route_params')|default([])|merge({'_locale': locale})
    ) }}">
  {% endfor %}
</head>

<body>
  {% include 'component/menu.html.twig' %}
  
  <main class="container" style="flex-grow:1;">
    {% block body %}
    {% endblock %}
  </main>

  <hr>

  <footer class="container">
    {% include 'component/footer.html.twig' %}
  </footer>

  {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% for label, flashes in app.session.flashbag.all %}
      {% if loop.first %}<script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>{% endif %}
      <script>
        {% for flash in flashes %}
        $.notify({icon:'{{ asset('img/icon/'~label~'.svg') }}',message:'{{ flash|trans }}'},{type:'{{ label }}', icon_type: 'img'});
        {% endfor %}
      </script>
    {% endfor %}
  {% endblock %}

</body>
</html>
