{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.home'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
  {% if event is not null %}
    {% include 'events/event.html.twig' %}
  {% else %}
    <h3 class="text-center">{{ 'home.no-event'|trans }}</h3>
    <p class="text-center"><img src="{{ asset('img/logo.svg') }}" class="img-fluid" style="max-height:70vh;"></p>
  {% endif %}
{% endblock %}
