<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {% for url in urls %}
        <url>
            <loc>{{ url.loc }}</loc>
            {% if url.lastmod is defined %}
                <lastmod>{{ url.lastmod }}</lastmod>
            {% endif %}
            {% if url.changefreq is defined %}
                <changefreq>{{ url.changefreq }}</changefreq>
            {% endif %}
            {% if url.priority is defined %}
                <priority>{{ url.priority }}</priority>
            {% endif %}
            {% if url.links is defined %}
                {% for link in url.links %}
                    <xhtml:link 
                        rel="alternate"
                        hreflang="{{ link.locale }}"
                        href="{{ link.url }}"
                    />
                {% endfor %}
            {% endif %}
        </url>
    {% endfor %}
</urlset>
