<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cartel 2018</title>
  <!--[if lte IE 8]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
  <![endif]-->
  <link rel="stylesheet" href="{{ asset('css/timer.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    <div class="centered">
    <h1>{{ 'timer.timebeforestart'|trans }}</h1>
    <div id="clockdiv">
        <div>
            <span class="days"></span>
            <div class="smalltext">{{ 'timer.days'|trans }}</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">{{ 'timer.hours'|trans }}</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">{{ 'timer.minutes'|trans }}</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">{{ 'timer.seconds'|trans }}</div>
        </div>
    </div>
    </div>
    <script src="{{ asset('js/timer.js') }}"></script>
    <script>;initializeClock('clockdiv', new Date({{ timerUntil|date('Y,m-1,d') }}));</script>
</body>
</html>
