{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.partners'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
.fill-height {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.fill-height > * {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
</style>
{% endblock %}

{% block body %}
<h1 class="text-center"> {{'title.partners'|trans}} </h1>
<div class="row align-items-stretch">
	{% for partner in partners %}
		<div class="col-lg-4 col-md-6 d-flex my-3">
			<a href="{{ partner.url }}" class="align-self-stretch" target="_blank" style="flex:1;">
				<div class="card p-2 d-flex align-self-stretch fill-height">
					<div class="card-img-top">
						<p class="text-center">
							<img class="img-fluid" src="{{ asset(partner.file.fileUri) }}" alt="{{ partner.name }}">
						</p>
					</div>
					<div class="card-body" style="flex:0">
						<h5 class="card-title text-center">{{ partner.name }}</h5>
					</div>
				</div>
			</a>
		</div>
	{% endfor %}
</div>

<p class="text-center"><a href="{{ path('contact') }}"><button type="button" class="btn btn-primary btn-lg">{{ 'partners.become'|trans }}</button></a></p>

{% endblock %}
