{% extends "layout/default.html.twig" %}

{% block title %}
  {{ status_code }} {{ status_text }} - {{ parent() }}
{% endblock %}

{% block body %}
  <h2 class="text-center">{{ status_code }}: {{ status_text }}</h2>
  <p class="text-center"><img src="{{ asset('img/dahm.gif') }}"></p>
{% endblock %}
