{% extends "mail/base.html.twig" %}

{% block content %}
<tr>
  <td width="600" class="mobile" style="font-family:arial; font-size:18px; line-height:24px;" align="center" mc:label="the_title" mc:edit="the_title">
    {% block welcome %}{% endblock %}
  </td>
</tr>
<tr>
  <td height="20" style="font-size:10px; line-height:10px;"></td>
</tr>
<tr>
  <td width="600" class="mobile" align="center">
    <table width="500" class="mobile">
      <tr>
        <td style="font-family:arial; font-size:14px; line-height:24px; color:#aeaeae;" align="center" mc:label="the_copy" mc:edit="the_copy">
          {% block description %}{% endblock %}
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="20" style="font-size:10px; line-height:10px;"></td>
</tr>
<tr>
  <td width="600" class="mobile" align="center">
    {# Start Button #}
    <table cellpadding="0" cellspacing="0" align="center" border="0">
      <tr>
        <td height="46" bgcolor="#40a7ff" align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 16px; color: #ffffff; line-height:18px; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; font-weight:bold; padding: 0 15px;" mc:label="the_btnText" mc:edit="the_btnText">
          <a href="{{ url }}" target="_blank" alias="" style="font-family: Arial, sans-serif; text-decoration: none; color: #ffffff;">{% block action %}{% endblock %}</a>
        </td>
      </tr>
    </table>
    {# End Button #}
    <span style="font-family: arial;font-size: 14px;line-height: 24px;color: #aeaeae;">{{ url }}</span>
  </td>
</tr>
{% endblock %}
