{% set url = url('reset_password', {'key': user.confirmationToken}) %}
{% extends "mail/default.html.twig" %}

{% block title %}{{ 'password.title'|trans }}{% endblock %}

{% block welcome %}{{ 'password.title'|trans }}{% endblock %}
{% block description %}{{ 'password.description'|trans }}{% endblock %}
{% block action %}{{ 'password.request'|trans }}{% endblock %}
