{% set url = url('s_enable_account', {'key': user.confirmationToken}) %}
{% extends "mail/default.html.twig" %}

{% block title %}{{ 'registration.title'|trans }}{% endblock %}

{% block welcome %}{{ 'registration.welcome'|trans }} <span style="color:#40a7ff;"><strong>{{ user }}</strong></span>,{% endblock %}
{% block description %}{{ 'registration.description'|trans }}{% endblock %}
{% block action %}{{ 'registration.enable'|trans }}{% endblock %}
