<div>
    <a href="{{ path('event', { 'id': event.id }) }}">
    <div class="card primary mb-3 border-{{ event.eventType.render }}">
        <div class="card-header text-white bg-{{ event.eventType.render }} clearfix">
            <p class="float-left m-0">{{ event.name }}</p>
            <p class="float-right m-0">{{ event.startTime|date("d/m H:i") }} - {{ event.endTime|date("d/m H:i") }}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{ event.shortDescription }}</p>
        </div>
    </div>
    </a>
</div>
