<div class="card primary mb-3 border-{{ event.eventType.render }}">
  <div class="card-header text-white bg-{{ event.eventType.render }} clearfix">
    <p class="float-left m-0">{{ event.eventType.name }}</p>
    <p class="float-right m-0">{{ event.startTime|date("d/m H:i") }} - {{ event.endTime|date("d/m H:i") }}</p>
  </div>
  <div class="card-body">
		<h3 class="card-title text-center">{{ event.name }}</h3>
    <a href="{{ path('place', {'id': event.place.id}) }}">
      <p class="text-center">
        {{ event.place.name }}
      </p>
    </a>
    <hr>
		{% if event.scores is not empty %}
    <div class="row text-center">
			{% for score in event.scores %}
        <div class="col-md">
          <img src="{{ asset(score.delegation.file.fileUri) }}" class="img-fluid" style="max-width:150px">
          <h1><strong>{{ score.score }}</strong></h1>
        </div>
			{% endfor %}
    </div>
    <hr>
		{% endif %}
		
		<div>
		{{ event.description|raw }}
		</div>
    
    {% if event.news is not empty %}
      <hr>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          {% for new in event.news %}
            <p><strong>{{ new.time|date("d/m H:i") }} - </strong>{{ new.title }}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
