{% extends "layout/default.html.twig" %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
{% endblock %}

{% block title %}
    {{ 'title.program'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="text-center"> {{'title.program'|trans}} </h1>
    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" integrity="sha256-QvhPq+evNjd8JyxSOU5KL3jPYTD7+gWVev1OH763SL0=" crossorigin="anonymous"></script>
    {% if app.request.locale == 'fr' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/fr.js" integrity="sha256-/QQeSDufnoPX+a3mgaGjtjhuvejJYhn8jkohw+nN6rM=" crossorigin="anonymous"></script>
    {% endif %}
    <script>
        $(function() {
            $('#calendar').fullCalendar({
                events: '{{ path('event_feed') }}',
                defaultView: 'agendaDay',
                nowIndicator: true,
                locale: '{{ app.request.locale }}',
                header: {
                    left:   'title',
                    center: 'agendaDay agendaWeek listWeek',
                    right:  'today prev,next'
                },
                buttonText: {
                    listWeek: 'Planning'
                }
            })
        });
    </script>
{% endblock %}
