{% extends "layout/default.html.twig" %}

{% block title %}
  {{ 'title.places'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{ 'title.places'|trans }}</h1>
<h3 class="text-center">{{ 'places.map'|trans }}</h3>
{% include 'component/map.html.twig' %}
<h3 class="text-center mt-5">{{ 'places.list'|trans }}</h3>
{% for placeCategory in placeCategories %}
	<h5>{{ placeCategory.name }}</h5>
	<table class="table table-hover">
		<tbody>
		{% for place in placeCategory.places %}
			<tr>
				<th><a href="{{ path('place', { 'id': place.id }) }}">{{ place.name }}</a></th>
				<td>{{ place.address }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endfor %}
{% endblock %}
