{% extends "layout/default.html.twig" %}

{% block title %}
  {{ place.name }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">{{ place.name }}</h1>
<div class="row justify-content-center">
	<div class="col-lg-6">
	{% include 'component/map.html.twig' %}
	</div>
</div>
<p class="text-center"><strong>Addresse :</strong> {{ place.address }}</p>

<h3 class="mt-5">{{ 'shuttle.nextDepartures'|transchoice(depLength, {'%placeName%': place.name }) }}</h3>
{% set shuttles = nextDepartures %}
{% include 'component/date.js.twig' %}
{% include 'shuttles/shuttleArray.html.twig' %}

<h3 class="mt-5">{{ 'shuttle.nextArrivals'|transchoice(arrLength, {'%placeName%': place.name }) }}</h3>
{% set shuttles = nextArrivals %}
{% include 'shuttles/shuttleArray.html.twig' %}
{% endblock %}
